<div class="navbar-content">
  <div class="logo">
    <img class="logo-img" width="148" height="28" src="../../assets/images/logo.png" alt="LOGO" />
  </div>
  <nav>
    <ul class="nav-content">
        <li class="li-page">
            <a href="http://localhost:3000/">ГОЛОВНА</a>
        </li>
        <li class="li-page">
            <a href="http://localhost:3000/about">ПРО МУЗЕЙ</a>
        </li>
        <li class="li-page">
            <a href="http://localhost:3000/contacts">КОНТАКТИ</a>
        </li>
    </ul>
  </nav>
  <div class="links">
    <a class="fa-brands fa-facebook" href="https://www.facebook.com/people/Музей-Деревини-у-Львові/100083013828504/"></a>
    <a class="fa-brands fa-twitter" href="#"></a>
    <a class="fa-brands fa-instagram" href="https://www.instagram.com/tknltu/"></a>
  </div>
</div>
